// Place all the styles related to the negishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-primary{
	width:100px;
}

.btn-warning{
	width:200px;
}

.btn-info{
	width:250px;
	margin-top:10px;
}

.btn-success{
	width:150px;
}